<h1>canvas list</h1>

<div class="Parceiros">
    <ul>
    {% for parceiro in parceiro_list %}
        <li>{{ parceiro.parceiro }}</li>
    {% endfor %}
    </ul>

    <form action="{% url 'parceiro_add' %}" method="POST">{% csrf_token %}
        {{ parceiro_form.as_p }}
        <button type="submit">Incluir</button>
    </form>
</div>

<div class="Atividades">
    <ul>
    {% for atividades in atividade_list %}
        <li>{{ atividades }}</li>
    {% endfor %}
    </ul>

    <form action="{% url 'atividade_add' %}" method="POST">{% csrf_token %}
        {{ atividade_form.as_p }}
        <button type="submit">Incluir</button>
    </form>
</div>
